/*Variables*/
:root {
    --color: #5d96ff;
  }
  
  body{
    width: 90%;
    margin: 2% 5%;
    display: block;
    position: relative;
  }
  
  /*nav*/
  .menu {
      font-family: 'IBM Plex Sans', sans-serif;
      display: block;
      position: sticky;
      top: 0px;
      background-color: white;
      width: 100%;
    }
    
    .head{ 
      display: inline-block;
    }
    
    .logo{
      color:#4575f8;
    }
  
    .menui {
      float: right;
      position: relative;
      top: 10px;
      transform: translate(-50%, -50%);
      cursor: pointer;
      transition: 0.5s ease;
      height: 30px;
    }
    .menui:hover .bar {
      box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.3);
    }
    .menui .bar {
      width: 30px;
      height: 6px;
      background: black;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
      border-radius: 2px;
      transition: 0.4s ease;
    }
    .menui .bar:not(:first-child) {
      margin-top: 3px;
    }
    
    /*menu amburguesa*/
  
    #hi {
      display: none;
    }
  
    .menu nav {
      display: none;
    }
  
    #hi:checked + .menui {
      transform: translate(-50%, -50%) rotatey(180deg);
    }
    #hi:checked + .menui .bar {
      transform: rotatey(180deg) rotatex(360deg);
    }
    #hi:checked + .menui .bar:first-child {
      transform: rotate(-45deg);
      margin-top: 10px;
    }
    #hi:checked + .menui .bar:nth-child(2) {
      opacity: 0;
    }
    #hi:checked + .menui .bar:nth-child(3) {
      margin-top: -15px;
      transform: rotate(45deg);
    }
  
    .menu input:checked ~ nav {
      display: block;
    }
     
   
    /*end burguermenu*/
    .item{
      width: 100%;
      background-color: var(--color);
    }
    
    .a {
      display: block;
      color: black;
      text-align: center;
      text-decoration: none;
    }
    
    .a:hover {
      color:black;
      background-color: #8aa0e9;
      text-decoration: line-through;
    }
    
    .a:active {
      color:gray;
      text-decoration: line-through;
    }
    
    /*contenido*/
    .content{
        font-family: 'IBM Plex Sans', sans-serif;
        margin-top: 5%;
    }

    img{
      width: 100%;
    }

    .git{
      display:block;
    }

    .git1{
      display:inline-block;
      width: 99%;
    }

    .git2{
      display:inline-block;
      width: 89%;
      padding: 5%;
      text-align: justify;
    }

    .gitt{
      display:inline-block;
      width: 99%;
    }

    code{
      color: white;
      background-color: black;
    }

    li{
      margin-top: 2%;
    }
  
    @media (min-width: 901px) {
    
      .menu {
        width: 100%;
        display: block;
      }
      .head{
        width: 29%;
        display: inline-block;
        vertical-align: middle;
      }
    
      .menu input:checked ~ nav {
        display: inline-block;
      }
    
      input{
        display: none;
      }
      .bar {
        display: none;
      }
      .menu nav{
        display: inline-block;
        width: 69%;
      }
      .item{
        width: 19%;
        display: inline-block;
        vertical-align: middle;
        background-color: white;
      }  
      .a{
        background-color: white;
      }
  
      .a:hover {
        background-color: white;
      }
      /*Content*/
      .git1{
        display:inline-block;
        
      }
  
      .git2{
        display:inline-block;
     
        padding: 5%;
        text-align: justify;
      }
  }